.navBarStyle {
    background: rgba(0, 0, 0, 0.415);
    width: 100%;
}

.navStyle .btnNavBarStyle,
.dropdown-toggle::after {
    color: white;
    transition: 0.5s;
}

.navStyle .btnNavBarStyle:hover {
    color: orange;
}

.imagenLogo {
    width: 45px;
    height: 45px;
}

.nameStyle{
    font-size: 1.1rem;
    margin-left: 10px;
    letter-spacing: 3px;
    font-weight: bold;
}

.nameTwoStyle{
    color: rgb(86, 151, 166);
}

@media only screen and (max-width: 600px) {
    .navMovileStyle{
        flex-direction: column;
    }

    .formStyle{
        margin: .5rem;
    }

    .cartMovileStyle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
  }




