.containerDetailStyle{
    position: relative;
}

.imgBackStyle{
    width: 100%;
    height: 650px;
    object-fit:cover;
    object-position: center top;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 85%);
}

.detailStyle{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    width: 80%;
    height: 400px;
    top: 12%;
    left: 10%;
}

.imgFrontStyle{
    width: 50%;
    height: auto;
    margin: 0 0;
    border-radius: 8px;
}

.infoJuegoStyle{
    width: 40%;
    height: 80%;
    margin: 0 0;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.containerDescription{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    width: 80%;
    left: 10%;
    margin-top: 20px;
}

.btnDetailStyle{
    border-radius: 8px;
    padding: 8px 30px;
    background: #31363a;
    color: white;
    transition: 0.5s;
}

.btnDetailStyle:hover{
    background: rgb(203, 140, 22);
}

.spanDetailStyle{
    color: rgb(35, 89, 101);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .containerDetailStyle{
        width: 100%;
    }

    .detailStyle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        left: 0%;
    }

    .infoJuegoStyle{
        width: 90%;
        margin-top: 1rem;
    }

    .imgFrontStyle{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
  }