.navbar-nav .formStyle{
    width: 200px;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.titleCategoryStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px auto 20px auto;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.415),rgba(83, 88, 90, 0))
                
}

.titleListStyle{
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.contenedorFlex{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.colContenedor{
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
}

.primeraImagen{
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    transition: transform .3s;
    border-radius: 10px;
    width: 360px;
    height: 205px;
    object-fit: cover;
}

.primeraImagen:hover{
    z-index: 2;
    transform: scale(1.05,1.05);
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform .3s;
    border-radius: 10px;
    width: 360px;
    height: 205px;
}

.video:hover{
    z-index: 3;
    transform: scale(1.05,1.05);
}

.nombrePrecioContenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}