* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-color: #272727;
}

.h1Style {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.h4Style {
    margin-left: 10px;
    margin-right: 3px;
    font-size: 1rem;
}

