* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-color: #272727;
}

.h1Style {
    color: white;
    margin: 10px;
    font-size: 30px;
}

.h4Style {
    margin-left: 10px;
    margin-right: 3px;
    font-size: 1rem;
}

.h2Tittle {
    font-size: 3rem;
    color: white;
}

.h3Tittle {
    font-size: 1rem;
    color: white;
    font-family: Poppins, sans-serif;
}

.h4Tittle{
    font-size: 2rem;
    color: white;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

p{
    font-size: 2rem;
    text-align: justify;
    color: white;
}

.link{
    text-decoration: none;
}


